<header>
    <nav>
		<a href="{{ '/author' | prepend: site.baseurl }}">Author</a>
		<a href="{{ '/' | prepend: site.baseurl }}">Blog</a>
    </nav>

    <ul id="social_links">
        {% if site.author.github %}
			<li>
				<a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
					<i class="fa fa-github"></i>
				</a>
			</li>
        {% endif %}

        {% if site.author.twitter %}
			<li>
				<a href="https://twitter.com/{{ site.author.twitter }}" class="social-links__entry" target="_blank">
					<i class="fa fa-twitter"></i>
				</a>
			</li>
        {% endif %}

		<li>
			<a href="/feed.xml">
				<i class="fa fa-rss"></i>
			</a>
		</li>
    </ul>
</header>
