#social_links {
	ul {
		list-style-type: none;
	}
	li {
		display: inline-block;
	}
	a {
		color: #737685;
		margin-left: .5em;

		@media screen and (max-width: 38rem) {
			padding: .3em;
			font-size: 1.5em;
			line-height: 1.6em;
		}

		&:hover {
			color: #2d303a;
		}
	}
}
